<% layout('../layouts/boilerplate')%>
    <div class="row">
        <h1 class="text-center">New Campground</h1>
        <div class="col-6 offset-3">
            <form action="/campgrounds" method="POST" novalidate class="needs-validation" enctype="multipart/form-data">
                <div class="mb-3">
                    <label class="form-label" for="title">Name</label>
                    <input class="form-control" type="text" id="title" name="campground[title]" required aria-describedby="enterName">
                    <div id="enterName" class="invalid-feedback">Please enter a name</div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="location">Location</label>
                    <input class="form-control" type="text" id="location" name="campground[location]" required aria-describedby="enterLocation">
                    <div id="enterLocation" class="invalid-feedback">Please enter a location</div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="image">Image URL</label>
                    <input class="form-control" type="text" id="image" name="campground[image]" aria-describedby="enterImgURL">
                    <div id="enterImgURL" class="invalid-feedback">Please enter an image URL</div>
                </div>
                <!-- <input type="file" name="uploadedImages" multiple> -->
                <div class="mb-3">
                    <label class="form-label" for="creator">Image By</label>
                    <input class="form-control" type="text" id="creator" name="campground[creator]"
                        placeholder="Enter name">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="username">Image Creator Username</label>
                    <input class="form-control" type="text" id="username" name="campground[username]"
                        placeholder="Enter username">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="price">Price</label>
                    <div class="input-group has-validation">
                        <span class="input-group-text" id="price-label">£</span>
                        <input type="number" class="form-control" id="price" placeholder="0.00" aria-label="price"
                            aria-describedby="enterPrice" name="campground[price]" required>
                            <div id="enterPrice" class="invalid-feedback">Please enter a price above £0</div>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="description">Description</label>
                    <textarea class="form-control" type="text" id="description" name="campground[description]"
                        required aria-describedby="enterDescription"></textarea>
                    <div id="enterDescription" class="invalid-feedback">Please enter a description</div>
                </div>
                <div class="mb-3"><button class="btn btn-primary">Add Campground</button></div>
            </form>
            <a href="/campgrounds">All Campgrounds</a>
        </div>
    </div>